@media only screen and (min-width: 768px) {
    .about__link{
        &-dev:hover {
            &:before {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }

        &-brand:hover {
            &:before {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }
    }

    .skills {
        &__title:hover {
            color: $colorGrey;
        }

        &__title:hover.skills__title {
            &-brand {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &-web {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &-mobile {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &-anim {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &-uiux {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &-photo {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

        }
    }

    .footer {
        &__contacts:hover {
            color: $colorDark;
        }

        &__contacts:hover.footer__contacts {
            &-tel {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &-email {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &-twitter {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &-facebook {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &-google {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }

            &-pin {
                &:before {
                    opacity: 0;
                }

                &:after {
                    opacity: 1;
                }
            }
        }
    }
}